$icomoon-font-family: "frontend" !default;
$icomoon-font-path: "fonts" !default;

$icon-exclamation: "\e908";
$icon-menu: "\e909";
$icon-bug: "\e900";
$icon-printer: "\e901";
$icon-chain: "\e902";
$icon-twitter: "\e903";
$icon-facebook: "\e904";
$icon-linkedin: "\e905";
$icon-earth: "\e906";
$icon-spinner: "\e907";

